#code-container {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 30px;
}

#code-title {
    padding: 20px 0;
    margin-bottom: 0.7em;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

    #code-title h2 {
        margin: 0;
    }

#lines-code-container {
    display: flex;
    border-radius: 5px;
    background-color: #1e1e1e;
}

#lines {
    width: 50px;
    padding: 15px 5px;
    text-align: right;
}

.code-line {
    color: #A0A0A0;
}

pre,
.normal {
    color: #93b6ee;
}

pre {
    font-size: .8em;
    width: 100%;
    /*white-space: pre-wrap;*/
    margin: 0;
    padding: 15px;
    overflow-x: auto;
}

.character {
    color: #FFFFFF;
}

.reserved_a {
    color: #2b5391;
}

.reserved_b {
    color: #bc8aa3;
}

.object {
    color: #6bb8a8;
}
.number {
    color: #c3c69b;
}
.method {
    color: #dfd9a7;
}

.string,
.string *,
.regex,
.regex * {
    color: #c1917d;
}

.comment,
.comment * {
    color: #666666;
}