#code-container {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 30px;
}

#code-title {
    padding: 20px 0;
    margin-bottom: 0.7em;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

#code-title h2 {
    margin: 0;
}

.div-descarga {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.div-descarga > * {
    margin-left: 10px;
    margin-top: 10px;
}

@media (max-width: 700px) {
    #code-container {
        padding: 0;
    }
    #code-title {
        padding: 20px 30px;
    }
}