#container-bg,
#container-bg *{
    transition: none !important;
}

#container-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(167, 166, 166, 0.82);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#dvModal {
    border: 1px solid var(--modal-border-color);
    color: var(--modal-color);
    border-radius: 10px;
    padding: 5px;
    max-width: 95%;
    background-color: var(--modal-bgcolor);
    font-size: 1.2em;
    -webkit-box-shadow: var(--modal-boxshadow);
    box-shadow:         var(--modal-boxshadow);
}

.modal-title {
    border-radius: 5px;
    background-color: var(--modal-title-bgcolor);
    padding: 8px 10px;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title button {
    padding: 0 5px !important;
}

.modal-body {
    padding: 10px;
    font-size: 0.8em;
}

.modal-body pre {
    background-color: var(--modal-pre-bgcolor);
    color: var(--modal-pre-color);
    margin: 10px 0;
    border-radius: 5px;
}