#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    right: 30px;
    top: 10px;
    height: 40px;
    line-height: 40px;
    color: #777;
}

.main-menu,
.sidebar-menu ul {
    list-style-type: none;
    margin: 0 20px;
    padding: 0;
    line-height: 30px;
    color: #777;
}

#nav *,
.main-menu * {
    color: #777;
}



li > aside.v1,
li > aside.v2 {
    font-size: .7em;
    color: var(--menu-aside-color);
    position: absolute;
    right: 0;
    top: 0;
}

#nav li {
    display: inline-block;
    position: relative;
    margin: 0 0.6em;
}

.nav-link {
    white-space: nowrap;
    padding-bottom: 5px;
}

#nav .arrow {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    margin-left: 6px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #4f5959;
}

#nav .nav-dropdown-container .arrow {
    pointer-events: none;
}

#nav .nav-dropdown {
    display: none;
    box-sizing: border-box;
    max-height: calc(100vh - 61px);
    overflow-y: auto;
    position: absolute;
    top: 100%;
    background-color: var(--menu-nav-dropdown-bgcolor);
    padding: 10px 0;
    border: 1px solid var(--menu-nav-dropdown-border-color);
    border-bottom-color: var(--menu-nav-dropdown-border-bottom-color);
    text-align: left;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-box-shadow: var(--menu-nav-dropdown-boxshadow);
    box-shadow: var(--menu-nav-dropdown-boxshadow);
}

#nav .nav-dropdown.right {
    right: 0;
}

#nav .nav-dropdown-container:hover .nav-dropdown,
#nav .nav-dropdown-container:focus .nav-dropdown {
    display: block;
}

#nav .nav-dropdown li {
    line-height: 1.8em;
    margin: 0 15px;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-dropdown.codigo li {
    padding-right: 45px !important;
}

#nav .nav-dropdown a {
    display: block;
    padding: 0;
    flex: 1;
}

li {
    cursor: pointer;
}

a {
    text-decoration: none;
}

#nav li:hover,
#nav li:focus,
#nav li:hover > a,
#nav li:focus > a,
#nav li:hover > a ~ *,
#nav li:focus > a ~ *,
#nav li:hover > a > *,
#nav li:focus > a > *,
#nav li:hover:before,
#nav li:focus:before {
    color: #4283b9;
}

#nav li:hover > span,
#nav li:focus > span {
    border-top: 5px solid #4283b9;
}

.current,
.theme {
    border-bottom: 2px solid #4283b9 !important;
}

.current,
.current > a,
.current > a ~ *,
.theme,
.theme > a {
    color: #4283b9 !important;
}

.sidebar-menu-bg {
    position: fixed;
    top: 49px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
}

.sidebar-menu {
    position: fixed;
    top: 49px;
    left: -500px;
    bottom: 0;
    background-color: var(--menu-sidebar-menu-bgcolor);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 11;
    font-size: .8em;
    box-shadow: var(--menu-sidebar-menu-boxshadow);
    padding-bottom: 10px;
}

.sidebar-menu li {
    position: relative;
}

.sidebar-menu li:not(.nav-dropdown-container) {
    height: 25px;
}

.sidebar-menu .nav-dropdown-container ul {
    margin-right: 0;
}

.sidebar-menu i,
header i ~ span {
    display: none;
}

.btn-menu-container {
    display: none;
}

.navbar-button {
    position: relative;
    float: right;
    padding: 4px 5px;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 12px;
    color: #767676;
    cursor: pointer;
    -webkit-appearance: button;
    line-height: inherit;
}

.navbar-button:focus,
.navbar-button:hover,
.navbar-button:focus {
    background-color: var(--menu-navbar-button-hover-bgcolor);
    border-color: var(--menu-navbar-button-hover-border-color);
}

.navbar-button .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #888;
}

.navbar-button .icon-bar+.icon-bar {
    margin-top: 4px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

li:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

li.code:before {
    content: "\f121";
    width: 30px;
}

li.icons:before {
    content: "\f86d";
    width: 30px;
}

li.complete:before {
    content: "\f022";
    width: 30px;
}

li.light:before {
    content: "\f185";
    width: 30px;
}

li.dark:before {
    content: "\f186";
    width: 30px;
    font-size: .9em;
}

li.js:before {
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400;
    content: '\f3b9';
    width: 30px;
    font-size: 1.1em;
}

li.drag:before {
    content: "\f31e";
    width: 30px;
}

li.tour:before {
    content: "\f4d7";
    width: 30px;
}

li.prog:before {
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400;
    content: "\f284";
    width: 30px;
    font-size: 1.1em;
}

li.switch:before {
    content: "\f205";
    width: 30px;
}

li.noti:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f27a";
    width: 30px;
}

li.request:before {
    content: "\f1fa";
    width: 30px;
}

li.next:before {
    content: "\f079";
    width: 30px;
}

li.other:before {
    content: "\f067";
    width: 30px;
}

@media (max-width: 700px) {
    header {
        left: 0;
        right: 0;
        justify-content: center;
        padding: 10px;
    }
    .btn-menu-container {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: absolute;
        left: 10px;
        bottom: 0;
        top: 0;
    }
    .navbar-button {
        margin: 0 !important;
    }
    .sidebar-menu.visible {
        left: 0;
    }
    .sidebar-menu-bg.visible {
        display: inherit;
    }
    .img-logo {
        padding: 0 20px;
    }
    #nav {
        display: none;
    }
}